// Colors
$color-light: rgb(211, 211, 211);
$color-grey: rgb(43, 43, 43);

// Font sizes

$font-size-header: 6.4rem;
$font-size-paragraph: 1.6rem;
$font-size-paragraph-blog: 2rem;
$font-size-button: 2.5rem;

// Breakpoints

$breakpoint-tablet: 1365px