.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 3.2rem;
    grid-gap: 3.2rem;
    margin-top: 5rem;
    width: 90%;

    @include respond(tab-port) {
        grid-template-columns:  1fr;
        width: 95%;
      }

      img {
        opacity: 0.8;
        width: 100%;

        a {
            width: 100%;
        }
    
        @include respond(tab-port) {
            opacity: 1;
          }
    }
}

.gallery img:hover {
    opacity: 1;
}