#tre-cime {
    background: url('../img/blog-tre-cime/trecime1.jpg') center center/cover no-repeat;
}

#cascate-di-riva {
    background: url('../img/blog-cascate/cascate01.jpg') center center/cover no-repeat;
}

#seceda {
    background: url('../img/blog-seceda/seceda1.jpg') center center/cover no-repeat;
}

#zugspitze {
    background: url('../img/blog-zugspitze/zugspitze1.jpg');
}

#tarnica {
    background: url('../img/blog-tarnica/tarnica09.jpg') center center/cover no-repeat;
}

#jochberg {
    background: url('../img/blog-jochberg/joch01.jpg') center center/cover no-repeat;
}

#island {
    background: url("../img/blog-island/011.jpg") center center/cover no-repeat;
}

